/* Set some basic styles / resets */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

html {
  color-scheme: dark light;
}

html,
body {
<<<<<<< HEAD
  font-family: Noto Sans, -apple-system, Droid Sans, Helvetica, sans-serif;
=======
  font-family: Noto Sans, Fira Sans, -apple-system, Droid Sans, Helvetica, sans-serif;
>>>>>>> d47002e8a3d64acce70e3488ae1d5bbf6d52a83c
  letter-spacing: 0.03rem;
  font-weight: 300;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

ul,
ol,
li {
  list-style: none;
}
<<<<<<< HEAD
=======

#__nuxt {
  min-height: 100vh;
}
>>>>>>> d47002e8a3d64acce70e3488ae1d5bbf6d52a83c
